.floating-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  pointer-events: none;
  gap: 30px;
}

.floating-logo-1:nth-child(1) {
  width: 70px;
}

.floating-logo-1:nth-child(2) {
  width: 75px;
}

.floating-logo-1:nth-child(3) {
  width: 120px;
}

.floating-logo-1:nth-child(4) {
  width: 160px;
}

.floating-logo-1:nth-child(5) {
  width: 150px;
}

.floating-logo-1:nth-child(6) {
  width: 50px;
}

.floating-logo-1:nth-child(7) {
  width: 80px;
}

.floating-logo-2:nth-child(1) {
  width: 120px;
}

.floating-logo-2:nth-child(2) {
  width: 90px;
}

.floating-logo-2:nth-child(3) {
  width: 120px;
}

.floating-logo-2:nth-child(4) {
  width: 80px;
}

.floating-logo-2:nth-child(5) {
  width: 160px;
}

.floating-logo-2:nth-child(6) {
  width: 80px;
}