.about {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

.projects {
  background: #f4f4f4;
}

.contact {
  background: #333;
  color: white;
}

.highlight {
  color: #007acc;
  font-weight: bold;
}

.cta-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.cta-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #ffcc00;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.cta-button:hover {
  background: #e6b800;
  transform: scale(1.05);
}

.cta-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007acc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-buttons button:hover {
  background-color: #005f99;
}

/* Specific button styles if needed */
.cta-buttons button:nth-child(1) {
  /* Style for View Projects */
}
.cta-buttons button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #00aaff;
  color: #00aaff;
}
.cta-buttons button:nth-child(2):hover {
  background-color: #00aaff;
  color: #fff;
}
.cta-buttons button:nth-child(3) {
  /* Style for Let's Connect */
}

.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content-section {
  flex: 2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-section-desktop h1 {
  font-size: 8rem;
  margin-bottom: 1rem;
  /* margin-top: 0.5rem; */
}

.content-section-desktop h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content-section-desktop p {
  font-size: 1.75rem;
  margin-left: 0rem;
  margin-right: 10rem;
  margin-bottom: 1rem;
}

.content-section-mobile h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
}

.content-section-mobile h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5rem;
  /* background-color: #f5f5f5; */
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    height: auto;
  }

  .content-section {
    padding: 1rem;
    text-align: center;
  }

  .image-section {
    padding: 1rem;
  }

  .image-section img {
    max-width: 80%;
    margin: 0 auto;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .cta-buttons button {
    width: 100%;
  }
}
